.form-navigator {
  display: grid;
  grid-template-rows: 100px auto 100px;
  height: 100%;
}

.form {
	margin: 0 15vw;
}

.steps-navigator {
  justify-self: center;
  align-self: center;
  
  .previous {
    margin-right: 5em;
  }
}
