@mixin animationClasses{
  &-appear {
    opacity: 0;
  }
  &-appear-active {
    opacity: 1;
    transition: opacity 500ms linear;
  }
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 500ms linear;
  }
}

.fade {
  @include animationClasses;
}